body {
  background-image: url(https://pbs.twimg.com/media/EWITy1SWAAAJCKF?format=jpg&name=medium);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}

.display-1 {
  text-shadow: 10px 5px rgb(132, 102, 64);
  font-family: fantasy;
}

.active-page {
  background-color: white !important;
  color: black !important;
}